{
  "extends": [
    "@antfu",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": [
    "tailwindcss"
  ],
  "rules": {
    "no-console": "off",
    "tailwindcss/no-custom-classname": "off"
  }
}
