html {
  --radio-bg: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

html.dark {
  --radio-bg: rgb(39, 39, 42);
  background: #1A1A1A;
  color-scheme: dark;
}

body {
  height: 100%;
  overflow: auto;
}

main a {
  color: #0070f3;
  text-decoration: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}
